.player {
  display: flex;
  flex-direction: column;

  .img {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details {
    background-color: rgba($color: #212121, $alpha: .8);
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 4px;
    border-radius: 4px;
  }
}
