<div class="js-stage stage texture" [ngStyle]="{'transform': scale,'margin-top': '-80px'}">
    <div class="js-world world">
        <div class="team js-team">

            <!-- GOALKEEPER -->
            <div class="goalkeeper">
                <app-player [player]="players.goalkeeper"></app-player>
            </div>

            <!-- DEFENDERS -->
            <div class="defenders">
                <ng-container *ngFor="let defender of players.defenders">
                    <app-player [player]="defender"></app-player>
                </ng-container>
            </div>

            <!-- MIDFIELDERS -->
            <div class="midfielders">
                <ng-container *ngFor="let midfielder of players.midfielders">
                    <app-player [player]="midfielder"></app-player>
                </ng-container>
            </div>

            <!-- FORWARDS -->
            <div class="forwards">
                <ng-container *ngFor="let forward of players.forwards">
                    <app-player [player]="forward"></app-player>
                </ng-container>
            </div>

        </div>
        <div class="terrain js-terrain">
            <div class="field field--alt"></div>
            <div class="field ground">
                <div class="field__texture field__texture--gradient"></div>
                <div class="field__texture field__texture--gradient-b"></div>
                <div class="field__texture field__texture--grass"></div>
                <div class="field__line field__line--goal"></div>
                <div class="field__line field__line--goal field__line--goal--far"></div>
                <div class="field__line field__line--outline"></div>
                <div class="field__line field__line--penalty"></div>
                <div class="field__line field__line--penalty-arc"></div>
                <div class="field__line field__line--penalty-arc field__line--penalty-arc--far"></div>
                <div class="field__line field__line--mid"></div>
                <div class="field__line field__line--circle"></div>
                <div class="field__line field__line--penalty field__line--penalty--far"></div>
            </div>
            <div class="field__side field__side--front"></div>
            <div class="field__side field__side--left"></div>
            <div class="field__side field__side--right"></div>
            <div class="field__side field__side--back"></div>
        </div>
    </div>
</div>