* {
  box-sizing: border-box;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  perspective-origin: 50% -200px;
  perspective: 1100px;
  z-index: 1;
  backface-visibility: hidden;
}
.world {
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -336px;
  width: 672px;
  height: 840px;
  transform: translateZ(-210px);
  transform-style: preserve-3d;
  z-index: 1;
  backface-visibility: hidden;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 2;
  transform: rotateX(90deg) translateZ(0);
  transform-origin: 50% 50%;
  box-sizing: content-box;
  backface-visibility: hidden;
}
.field__texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.field__texture.field__texture--gradient {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  z-index: 4;
}
.flipped .field__texture.field__texture--gradient {
  opacity: 0;
}
.field__texture.field__texture--gradient-b {
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  z-index: 4;
}
.flipped .field__texture.field__texture--gradient-b {
  opacity: 1;
}
.texture .field__texture.field__texture--grass {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/grass2.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}
.field__side {
  position: absolute;
  top: 420px;
  left: 0;
  width: 100%;
  height: 8px;
  transform: rotateX(180deg) translateZ(-420px);
  transform-origin: 50% 50%;
  background-color: #f7f7f7;
  z-index: 9;
}
.texture .field__side {
  background-color: #000;
}
.texture .field__side:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.55;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/mud.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}
.field__side.field__side--left,
.field__side.field__side--right {
  top: 0;
  left: -8px;
  height: 100%;
  width: 8px;
  transform-origin: 100% 50%;
  transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
}
.field__side.field__side--right {
  left: auto;
  right: 0;
}
.field__side.field__side--back {
  transform: rotateX(180deg) translateZ(420px);
}
.field__line {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 4;
}
.field__line--goal {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.field__line--goal--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.field__line--penalty-arc {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.field__line--penalty-arc:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: " ";
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  box-sizing: border-box;
}
.field__line--penalty-arc--far {
  bottom: auto;
  top: 20%;
}
.field__line--penalty-arc--far:after {
  bottom: 75%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.field__line--penalty {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.field__line--penalty--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.field__line--outline {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
}
.field__line--mid {
  top: 50%;
  width: 92%;
  left: 4%;
  background-color: rgba(255, 255, 255, 0.5);
}
.field__line--circle {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

// ADDED STYLES FOR EQUAL DISTANCE BETWEEN THE PLAYERS

.goalkeeper {
  margin: 0 60px;
  transform: translate3d(0, 150px, 40px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.defenders {
  margin: 0 60px;
  transform: translate3d(0, 70px, 90px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.midfielders {
  margin: 0 80px;
  transform: translate3d(0, 0px, 175px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.forwards {
  margin: 0 100px;
  transform: translate3d(0, -100px, 300px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
